header {
    text-align: center;
    background-color: #6cc782;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    background-color: #afc9fa;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 0.5;
}

body {
    margin-left: 20%;
    margin-right: 20%;
}

main {
    display: flex;
}

#formHere {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    align-items: center;
    padding: 15px;
    margin-right: 15px;
    background-color: rgb(206, 242, 255);
}

label {
    display: block;
    width: 100%;
}

input:not(.color), button {
    width: 100%;
}

button {
    margin-top: 15px;
}

#tableHere {
    display: flex;
    flex-basis: 80%;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    background-color: rgb(233, 250, 235);
}

table {
    flex: 1;
    border-collapse: collapse;
}

#tableHere h2 {
    align-self: center;
}

td {
    border: 1px solid black;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 0.7em;
    text-align: center;
}

tr {
    border: 1px solid black;
}

input:invalid {
    background-color: red;
}